pip == 26.1.1
scikit-learn == 1.8.0
requests == 2.34.1
seaborn == 0.13.2
pandas == 3.0.3
numpy == 2.4.4
matplotlib == 3.10.9
plotly == 6.7.0
django == 6.0.5
python-docx == 1.2.0
Sympy == 1.14.0
statsmodels == 0.14.6
